/**
 * @author André Santana - fc49451
 */
/*Select for add image*/
.add-image{
    background-color: #005C00;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px !important;
    height: 50px !important;
    border-radius: .25rem .25rem;
    width: 260px;
    text-align: center;
}

.add-image:hover {
    background-color: rgb(2, 75, 2);
    color: #ffffff;
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}

/*Filter*/
/*
.image-card{
    text-align: left;
    width: 200px;
    height: 100%;
}

.image-card:hover{
    border: 1px solid blue !important;
    cursor: pointer;
}

.image-locker{
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 10px;
}

.image-favorite{
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 10px;
}

.image-square{
    width: 200px;
    height: 180px;
}
  
.image-inside{
    max-width: 185px;
    max-height: 170px;
}

.image-description{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
*/

/*Pagination*/
ngb-pagination ::ng-deep ul > li:not(.active) > a {
    background-color: white !important;
    border: 1px solid #000052 !important;
    color: #000052 !important;
    padding-top: 10px;
    padding-left: 18px;
    height: 50px;
    min-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ngb-pagination ::ng-deep ul > li.active > a {
    background-color: #004080 !important;
    border: 1px solid #000052 !important;
    color: white !important;
    z-index: 0 !important;
    padding-top: 10px;
    padding-left: 18px;
    height: 50px;
    min-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ngb-pagination ::ng-deep .page-item.disabled {
    opacity: 0.5;
}