<!--Add Observation Component Container-->
<div class="d-flex justify-content-center flex-wrap">

  <!--Cancel Screen-->
  @if (!hideCancel) {
    <app-cancel-screen
      (answeredNo)="showAddObservation()"
      (answeredYes)="navigateToPatientObservations()">
    </app-cancel-screen>
  }

  <!--Add Observation Container-->
  @if (!hideAddObservation) {
    <div class="d-flex flex-column">

      @if (!added) {
        <div class="alert alert-danger alert-box" role="alert">
          {{'addObservationError' | translate}}
        </div>
      }

      <form (ngSubmit)="addPatientObservation()" #addObservationForm="ngForm">
        <div class="card blue-border">

          <h5 class="card-header card-header-blue">
            {{'addObservation' | translate}}
          </h5>

          <div class="card-body">
            <div class="d-flex justify-content-start flex-wrap">

              <!--Patient Profile Image-->
              <div class="p-2">
                <img [src]="patient.profileImageURL"
                     alt="Foto de Perfil de {{patient.name}}"
                     class="img-thumbnail profile-image">
              </div>

              <!--Observation-->
              <div class="p-2 form-group" style="margin-bottom: 5px;">
                <label for="observation" class="input-label">
                  <i class="bi bi-card-text"></i> {{'observationAbout' | translate}}:
                  {{convertPatientDisplayName(patient.displayName, patient.name)}}*
                </label>
                <textarea class="form-control input-text-select"
                  id="observation" required rows="6"
                  placeholder="{{'required' | translate}}"
                  [(ngModel)]="obs.observation"
                  name="observation" #observation="ngModel">
                </textarea>
              </div>

            </div>

            <!--Required note-->
            @if (translateCache === 'pt') {
              <small class="p-2 form-text text-info-message profile-image-help" style="margin-top: -10px;">
                Todos os campos com <strong>*</strong> são <strong>Obrigatórios</strong>.
              </small>
            }
            @if (translateCache === 'en') {
              <small class="p-2 form-text text-info-message profile-image-help" style="margin-top: -10px;">
                All fields with <strong>*</strong> are <strong>Required</strong>.
              </small>
            }

            <!--Buttons-->
            <div class="d-flex justify-content-start flex-wrap-reverse">
              <div class="p-2 half-width">
                <button type="button" class="btn button button-neutral full-width" (click)="showCancel()">
                  <i class="bi bi-caret-left-fill color-white"></i>
                  {{'observations' | translate}}
                </button>
              </div>
              <div class="p-2 half-width">
                <button type="submit" class="btn button button-action full-width"
                        [disabled]="!addObservationForm.valid">
                  {{'submit' | translate}}
                  @if (addingObservation) {
                    <div class="spinner-border small-spinner-white" role="status"></div>
                    <span class="sr-only">Loading...</span>
                  }
                </button>
              </div>
            </div>

          </div>
        </div>
      </form>
    </div>
  }

</div>