<!--Delete Observation Component Container-->
<div class="d-flex justify-content-center flex-wrap">

  @if (!deleted) {
    <div class="alert alert-danger alert-box" role="alert">
      {{'observationError' | translate}}
    </div>
  }

  <div class="card blue-border">

    <h5 class="card-header card-header-blue">
      {{'removeObservation' | translate}}
    </h5>

    <div class="card-body">
      <div class="d-flex justify-content-start flex-wrap">

        <!--Patient Profile Image-->
        <div class="p-2">
          <img [src]="patient.profileImageURL"
               alt="Foto de Perfil de {{patient.name}}"
               class="img-thumbnail profile-image">
        </div>

        <!--Observation Details-->
        <div class="p-2" style="width: 400px;">
          {{'deleteObservationText' | translate}}
          <strong style="font-weight: bolder;">
            {{convertPatientDisplayName(patient.displayName, patient.name)}}?
          </strong><br>

          <i class="bi bi-calendar-event"></i>
          {{obs.lastUpdatedDate | date:'longDate'}} • {{obs.lastUpdatedDate | date:'shortTime'}}<br>

          <div class="div-separator-top-grey">
            <i class="bi bi-card-text"></i>
            {{obs.observation}}
          </div>
        </div>

      </div>

      <!--Buttons-->
      <div class="d-flex justify-content-start flex-wrap-reverse">
        <div class="p-2 half-width">
          <button type="button" class="btn button button-neutral full-width"
                  routerLink="/caregiver/person/observations">
            {{'no' | translate}}
          </button>
        </div>
        <div class="p-2 half-width">
          <button type="button" class="btn button button-destructive full-width"
                  (click)="deletePatientObservation()">
            <i class="bi bi-trash-fill color-white"></i>
            {{'yes' | translate}}
            @if (deleting) {
              <div class="spinner-border small-spinner-white" role="status"></div>
              <span class="sr-only">Loading...</span>
            }
          </button>
        </div>
      </div>

    </div>
  </div>

</div>