<div class="d-flex flex-wrap">

  <div class="mr-auto p-2">
    <div class="d-flex justify-content-start flex-wrap">

      <div class="p-2">
        <img [src]="patient.profileImageURL" [alt]="'Foto de Perfil de ' + patient.name"
             class="img-thumbnail profile-image">
      </div>

      <div class="d-flex flex-column">
        <div class="p-2 info-field">
          <strong><i class="bi bi-person"></i> {{'fullName' | translate}}</strong><br>
          {{ patient.name }}
        </div>

        <div class="p-2 info-field">
          <strong><i class="bi bi-calendar-event"></i> {{'birthDate' | translate}}</strong><br>
          {{ patient.birthDate | date:'shortDate' }}
        </div>

        <div class="p-2 info-field">
          <strong><i class="bi bi-book"></i> {{'education' | translate}}</strong><br>
          {{ patient.education }}
        </div>
      </div>

    </div>
  </div>

  <div class="p-2">
    <div class="p-2">
      <button type="button" class="btn button button-action button-patient"
              (click)="navigateToSessionRT(patient.id)">
        {{ 'beginTherapy' | translate }}
      </button>
    </div>

    @if (currentCaregiver.isPrimary) {
      <div class="p-2">
        <button type="button" class="btn button button-action button-patient"
                routerLink="/caregiver/person/info/update">
          {{ 'editInformation' | translate }}
        </button>
      </div>

      <div class="p-2">
        <button type="button" class="btn button button-action button-patient" 
                routerLink="/caregiver/person/share">
          {{ 'shareCare' | translate }}
        </button>
      </div>
    }
  </div>

</div>

<div class="d-flex flex-row">
  <div class="p-2 info-field d-flex flex-column" style="margin-left: 20px;">
    <strong><i class="bi bi-building"></i> {{ 'citiesOfInterest' | translate }}: </strong><br>
    <div class="d-flex flex-row">
      @for (city of cities; track city) {
        {{ city }}
      }
    </div>
  </div>

  <div class="p-2 info-field d-flex flex-column" style="margin-left: 200px;">
    <strong><i class="bi bi-heart"></i> {{ 'otherInterests' | translate }}: </strong><br>
    <div class="d-flex flex-row">
      @for (interest of interests; track interest) {
        {{ interest }}
      }
    </div>
  </div>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col" colspan="2">{{ 'caregivers' | translate }}</th>
      <th scope="col">{{ 'relation' | translate }}</th>
      <th scope="col" colspan="2">{{ 'actions' | translate }}</th>
    </tr>
  </thead>

  <tbody>
    @for (c of patientCaregivers | slice: (page-1) * pageSize : page * pageSize; track c.caregiver.email) {
      <tr>
        <td>
          <img [src]="c.caregiver.profileImageURL" [alt]="'Foto de Perfil de ' + c.caregiver.name"
               class="rounded table-profile-image">
        </td>

        <td class="table-text-fields bolder-text">
          {{ convertPatientDisplayName(c.caregiver.name, "") }}
          @if (c.caregiver.email === currentCaregiver.caregiver.email) {
            <span>({{ 'me' | translate }})</span>
          }
        </td>

        <td class="table-text-fields">
          @if (c.caregiver.type === 'Formal') {
            {{ (c.isPrimary ? 'primaryCaregiver' : 'caregiver') | translate }}
          } @else {
            {{ c.patientRelation }} @if (c.isPrimary) { ({{ 'primaryCaregiver' | translate }}) }
          }
        </td>

        <td colspan="2">
          <div class="p-2 full-width">
            @if (c.caregiver.email === currentCaregiver.caregiver.email) {
              <button type="button" class="btn button button-destructive button-full-width"
                      (click)="goToLeftPatientCare(c)">
                {{ 'leaveTheCare' | translate }}
              </button>
            } @else {
              @if (currentCaregiver.isPrimary) {
                <button type="button" class="btn button button-action button-half-width-first"
                        (click)="goToPatientCaregiverDetails(c)">
                  {{ 'viewProfile' | translate }}
                </button>
                <button type="button" class="btn button button-destructive button-half-width-second"
                        (click)="goToPatientCaregiverRemove(c)">
                  {{ 'remove' | translate }}
                </button>
              } @else {
                <button type="button" class="btn button button-action button-full-width"
                        (click)="goToPatientCaregiverDetails(c)">
                  {{ 'viewProfile' | translate }}
                </button>
              }
            }
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

<div class="d-flex justify-content-center flex-wrap">
  <ngb-pagination [(page)]="page" 
                  [pageSize]="pageSize" 
                  [maxSize]="maxSize" 
                  [collectionSize]="collectionSize"
                  [rotate]="true" 
                  [ellipses]="true">
    <ng-template ngbPaginationPrevious>
      <i class="bi bi-caret-left"></i>{{ 'previous' | translate }}
    </ng-template>
    <ng-template ngbPaginationNext>
      {{ 'next' | translate }}<i class="bi bi-caret-right"></i>
    </ng-template>
    <ng-template ngbPaginationEllipsis>...</ng-template>
  </ngb-pagination>
</div>