<div class="d-flex justify-content-center flex-wrap">
  
  @if (!hideRemove) {
    <div class="d-flex flex-column">

      @if (!removed) {
        <div class="alert alert-danger alert-box" role="alert">
          {{ 'removeCaregiverError' | translate }} {{ caregiverToRemove.caregiver.name }}.
        </div>
      }

      <div class="card blue-border">
        
        <h5 class="card-header card-header-blue">
          {{ 'removeCaregiver' | translate }}
        </h5>

        <div class="card-body">
          <div class="d-flex justify-content-start flex-wrap">

            <div class="p-2">
              <img [src]="caregiverToRemove.caregiver.profileImageURL" 
                   [alt]="'Foto de Perfil de ' + caregiverToRemove.caregiver.name" 
                   class="img-thumbnail patient-image">
            </div>

            <div class="p-2" style="width: 600px">
              <label class="input-label" style="font-weight: normal;">
                {{ 'doYouReallyWant' | translate }} 
                <strong style="font-weight: bolder;">{{ caregiverToRemove.caregiver.name }}</strong> 
                {{ 'leaveTheCaresOf' | translate }} 
                <strong style="font-weight: bolder;">
                  {{ convertPatientDisplayName(patient.displayName, patient.name) }}
                </strong>?
              </label>
              
              <div class="p-2">
                <button type="button" 
                        class="btn button button-neutral full-width" 
                        routerLink="/caregiver/person/info"
                        style="margin-left: -10px;">
                  {{ 'no' | translate }} 
                </button>
              </div>
          
              <div class="p-2">
                <button type="button" 
                        class="btn button button-destructive full-width" 
                        (click)="removeCaregiverCare()"
                        style="margin-left: -10px;">
                  {{ 'yes' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  @if (!hideRemoved) {
    <div>
      <div class="card blue-border">
        <h5 class="card-header card-header-blue">
          {{ 'removeCaregiver' | translate }}
        </h5>

        <div class="card-body">
          <div class="p-2">
            {{ 'theCaregiver' | translate }}
            <strong style="font-weight: bolder;">{{ caregiverToRemove.caregiver.name }}</strong> 
            {{ 'wasRemoved' | translate }}
            <strong style="font-weight: bolder;">{{ convertPatientDisplayName(patient.displayName, patient.name) }}</strong>.
          </div>

          <div class="p-2 full-width">
            <button type="button" 
                    class="btn button button-action full-width"
                    routerLink="/caregiver/person/info">
              <i class="bi bi-check-lg color-white"></i>
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  }

</div>