<p>caregiver-session-images works!</p>
<!--@author Bruna Vieites - fc55792-->

<div class="d-flex justify-content-center flex-wrap caregiver-home-container">
    <div class="d-flex flex-column">

        <!--Images-->
        <div class="d-flex justify-content-start flex-wrap p-2">
            <div class="card" style="border:1px solid rgba(0, 0, 82, 0.4); margin: 1em;" *ngFor="let i of images | slice: (page-1) * pageSize : page * pageSize">
                <div class="card-body d-flex justify-content-start flex-wrap">
                    <div class="d-flex flex-column" style="text-align: left; width: 23em;">
                        <div class="row" style="padding-left: 0.5em;">
                            <div class="column d-flex justify-content-center align-items-center img-thumbnail image-square">
                                <img [src]="i.thumbnailPath" 
                                class="image-card-inside">
                            </div>
                            <div class="column">
                                @if(i.patient_feedback > 0) {
                                    <div class="p-2 info-field">
                                        <strong>{{'globalFeedback' | translate}}: </strong>
                                        @if(i.patient_feedback==1) {
                                            <i class="bi bi-emoji-angry-fill emoji-yes font-red"></i>
                                        } @else if (i.patient_feedback==2) {
                                            <i class="bi bi-emoji-frown-fill emoji-yes font-orange"></i>
                                        } @else if (i.patient_feedback==3) {
                                            <i class="bi bi-emoji-neutral-fill emoji-yes font-grey"></i>
                                        } @else if (i.patient_feedback==4) {
                                            <i class="bi bi-emoji-smile-fill emoji-yes font-green"></i>
                                        } @else if (i.patient_feedback==5) {
                                            <i class="bi bi-emoji-heart-eyes-fill emoji-yes font-blue"></i>
                                        }
                                    </div>
                                } @else {
                                    <div class="p-2 info-field" style="margin-top: 0.5em;">
                                        <strong>{{'globalFeedback' | translate}}: </strong>
                                        {{'noneF' | translate}}
                                    </div>
                                }
                                
                                <div class="p-2 info-field" style="width: 14.5em;">
                                    <strong>{{'symptoms' | translate}}: </strong>
                                    {{getImageSymptom(i)}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="p-2 info-field">
                                    <strong>{{ 'observations' | translate}}: </strong>
                                    <ng-template [ngIf]="i.observation != null && i.observation != 'null' && i.observation != '' " [ngIfElse]="withOutObservation">
                                        {{ i.observation }}
                                    </ng-template>
                                    <ng-template #withOutObservation>
                                        {{'noneF' | translate}}
                                    </ng-template>
                                </div>
                        </div>                     
                    </div>
                </div>
            </div>
        </div>

        <!--Pagination-->
        <div style="margin-top: 10px;"
            class="d-flex justify-content-center flex-wrap">
                <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [maxSize]="maxSize"
                    [collectionSize]="collectionSize"
                    [rotate]="true" 
                    [ellipses]="true"
                    >
                    <ng-template ngbPaginationPrevious>
                        <i class="bi bi-caret-left"></i>{{'previous' | translate}}</ng-template>
                    <ng-template ngbPaginationNext>{{'next' | translate}}<i class="bi bi-caret-right"></i></ng-template>
                    <ng-template ngbPaginationEllipsis>...</ng-template>
                </ngb-pagination>
        </div> 

    </div>
</div>

<div class="text-left" style="margin: 0.5em;">
    <button type="button" 
        class="btn button category-button"  
        (click)="goToSessionSummary()"
        style="position: initial;"
        >
        <i class="bi bi-caret-left"></i>
        {{'backSessionSummary' | translate}}
    </button>  
</div>