<!-- (hide)="toastService.remove(toast)" -->
@for (toast of dialogService.toasts; track $index) {
<ngb-toast
        [header]="toast.headertext"
        [class]="toast.classname"
        [autohide]="toast.autohide"
        [delay]="toast.delay || 7500"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
>
    @if (isTemplate(toast)) {
    <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
    } @else {
    <td class="toast-icon">
        @if (isSuccess(toast)) {
        <div>
            <i class="bi bi-check-lg color-white"></i>
        </div>
        }
        @if (isError(toast)) {
        <div>
            <i class="bi bi-x-lg color-white"></i>
        </div>
        }
        @if (isInformation(toast)) {
        <div>
            <i class="bi bi-info-lg color-white"></i>
        </div>
        }
    </td>
    <td>
        <h6 class="toast-text">
            {{ toast.textOrTpl }}
        </h6>
    </td>
    }
</ngb-toast>
}
