<!--@author André Santana - fc49451-->

<!--Birth Date Label-->
<label class="input-label">
    <i class="bi bi-calendar-event"></i> 
    {{'birthDate' | translate}}*
</label>

<!--Birth Date Fields Flex Box-->
<div class="d-flex justify-content-start flex-wrap"
    style="margin-top: -10px;">

    <!--Birth Date - Day Selection-->
    <div class="p-2" style="padding-left: 0 !important;
                            margin-bottom: -20px !important;">
        <select class="form-select me-sm-2 input-text-select"
                style="width: 80px;" 
                [class.disabled-option]="birthDate.day==0"
                [class.input-text-select-error]="!birthDate.validDate"
                [(ngModel)]="birthDate.day" name="day" #day="ngModel" 
                (change)="validateSelectedDate()">
            <option value=0 disabled selected>{{'day' | translate}}</option>
            <option value={{d}} *ngFor="let d of days">{{d}}</option>
        </select>
    </div>
    

    <!--Birth Date - Month Selection-->
    <div *ngIf="translateCache=='pt'" class="p-2" style="margin-bottom: -20px !important;">
        <select class="form-select me-sm-2 input-text-select"
                style="width: 150px;" required
                [class.disabled-option]="birthDate.month==-1"
                [class.input-text-select-error]="!birthDate.validDate"
                [(ngModel)]="birthDate.month" name="month" #month="ngModel" 
                (change)="validateSelectedDate()">
            <option value='-1' disabled selected>{{'month' | translate}}</option>
            <option value={{m.id}} *ngFor="let m of monthsPT">{{m.name}}</option>
        </select>
    </div>

    <div *ngIf="translateCache=='en'" class="p-2" style="margin-bottom: -20px !important;">
        <select class="form-select me-sm-2 input-text-select"
                style="width: 150px;" required
                [class.disabled-option]="birthDate.month==-1"
                [class.input-text-select-error]="!birthDate.validDate"
                [(ngModel)]="birthDate.month" name="month" #month="ngModel" 
                (change)="validateSelectedDate()">
            <option value='-1' disabled selected>{{'month' | translate}}</option>
            <option value={{m.id}} *ngFor="let m of monthsENG">{{m.name}}</option>
        </select>
    </div>

    <!--Birth Date - Year Selection-->
    <div class="p-2" style="margin-bottom: -20px !important;">
        <select class="form-select me-sm-2 input-text-select"
                style="width: 100px;"
                [class.disabled-option]="birthDate.year==0"
                [class.input-text-select-error]="!birthDate.validDate"
                [(ngModel)]="birthDate.year" name="year" #year="ngModel" 
                (change)="validateSelectedDate()">
            <option value=0 disabled selected>{{'year' | translate}}</option>
            <option value={{y}} *ngFor="let y of years">{{y}}</option>
        </select>
    </div>

</div>

<!--Error Message - Not Valid Date-->
<small *ngIf="!birthDate.validDate"
    class="form-text text-error-message"
    style="margin-top: 20px;">
    {{'dateInvalid' | translate}}
</small>