<!--@author André Santana - fc49451-->

<!--Cancel Card-->
<div class="card blue-border">

    <!--Register Cancel Header-->
    @if (isRouteActive('register')) {
    <h5 class="card-header card-header-blue">
        {{'registerCancel' | translate}}
    </h5>
    }

    <!--Logout Cancel Header-->
    @if (isRouteActive('logout')) {
    <h5 class="card-header card-header-blue">
        {{'exitApp' | translate}}
    </h5>
    }

    <!--Add Patient Cancel Header-->
    @if (isRouteActive('persons/add') && caregiver != null && caregiver.type=='Formal') {
    <h5 class="card-header card-header-blue">
        {{'cancelAddNewBeneficiary' | translate}}

    </h5>
    }
    @if (isRouteActive('persons/add') && caregiver != null && caregiver.type=='Informal') {
    <h5 class="card-header card-header-blue">
        {{'cancelAddNewRelative' | translate}}
    </h5>
    }

    <!--Edit Patient Cancel Header-->
    @if (isRouteActive('person/info/update') && caregiver != null && caregiver.type=='Formal') {
    <h5 class="card-header card-header-blue">
        {{'cancelEditBeneficiary' | translate}}
    </h5>
    }
    @if (isRouteActive('person/info/update') && caregiver != null && caregiver.type=='Informal') {
    <h5 class="card-header card-header-blue">
        {{'cancelEditRelative' | translate}}
    </h5>
    }

    <!--Add Observation Cancel Header-->
    @if (isRouteActive('person/observations/add')) {
    <h5 class="card-header card-header-blue">
        {{'cancelAddNewObservation' | translate}}
    </h5>
    }

    <!--Add Observation Cancel Header-->
    @if (isRouteActive('person/observations/update')) {
    <h5 class="card-header card-header-blue">
        {{'cancelEditObservation' | translate}}
    </h5>
    }

    <!--Add Image Cancel Header-->
    @if (isRouteActive('person/images/add')
             ||isRouteActive('profile/images/add')) {
    <h5 class="card-header card-header-blue">
        {{'cancelAddImages' | translate}}
    </h5>
    }

    <!--Edit Image Cancel Header-->
    @if (isRouteActive('person/image/update')
            ||isRouteActive('profile/image/update')) {
    <h5 class="card-header card-header-blue">
        {{'cancelEditImage' | translate}}
    </h5>
    }

    <!--Share Patient Cancel Header-->
    @if (isRouteActive('person/share/only')) {
    <h5 class="card-header card-header-blue">
        {{'cancelShareCare' | translate}}
    </h5>
    }

    <!--Principal Share Patient Cancel Header-->
    @if (isRouteActive('person/share/principal')) {
    <h5 class="card-header card-header-blue">
        {{'cancelPrimaryCaregiverTransfer' | translate}}
    </h5>
    }

    <!--Leave Patient Primary Care Header-->
    @if (isRouteActive('person/primary/leave') && caregiver != null && caregiver.type=='Formal') {
    <h5 class="card-header card-header-blue">
        {{'cancelBeneficiaryCareLeave' | translate}}
    </h5>
    }
    @if (isRouteActive('person/primary/leave') && caregiver != null && caregiver.type=='Informal') {
    <h5 class="card-header card-header-blue">
        {{'cancelRelativeCareLeave' | translate}}
    </h5>
    }

    <!--Caregiver Profile Update Cancel Header-->
    @if (isRouteActive('caregiver/profile/update')) {
    <h5 class="card-header card-header-blue">
        {{'keepProfileInfo' | translate}}
    </h5>
    }

    <!--Change Password Cancel Header-->
    @if (isRouteActive('caregiver/profile/password')) {
    <h5 class="card-header card-header-blue">
        {{'keepPassword' | translate}}
    </h5>
    }

    <!--Discard Validation Images Header-->
    @if (isRouteActive('caregiver/profile/validation/discard')) {
    <h5 class="card-header card-header-blue">
        {{'allImagesWillBeDiscarded' | translate}}
    </h5>
    }

    <!--Cancel Card Body-->
    <div class="card-body">

        <!--Discard Validation Images body text-->
        @if (isRouteActive('caregiver/profile/validation/discard')) {
        <p>
            {{'allImagesWillBeDiscarded' | translate}} {{'allImagesWillBeDiscarded2' | translate}}
        </p>
        }

        <!--Negative Answer-->
        <div class="p-2">
            <button type="button" class="btn button button-neutral full-width" (click)="clickedNo()">
                {{'no' | translate}}
            </button>
        </div>

        <!--Positive Answer-->
        <div class="p-2">
            <button type="button" class="btn button button-destructive full-width" (click)="clickedYes()">
                {{'yes' | translate}}
            </button>
        </div>

    </div>

</div>