<div class="d-flex justify-content-center flex-wrap">
  <div class="d-flex flex-column">

    @if (loadingMessages) {
      <div class="text-center">
        <div class="p-2 spinner-border big-spinner-blue" 
             role="status"
             style="margin-top: 20px !important; margin-bottom: 20px !important;">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    } @else {
      <div #messagesDiv class="messages-div flex-wrap">

        @for (m of oldMessages; track m.id || $index) {
          <div #messages class="p-2" style="width: 850px;"
               [ngClass]="m.createdBy.email === currentCaregiver.email ? 'myMessages' : 'otherMessages'">

            <div style="margin-bottom: 10px;">
              {{ m.createdBy.name }} •
              {{ m.createdDate | date:'shortDate' }} •
              {{ m.createdDate | date:'shortTime' }}
            </div>

            <span [ngClass]="m.createdBy.email === currentCaregiver.email ? 'mySpanM' : 'otherSpanM'">
              {{ m.message }}
            </span>
          </div>
        }

        @if (newMessages.length > 0) {
          <div class="row">
            <div class="col-lg-11 mx-auto" style="margin-top:5px; margin-bottom: -10px;">
              <div class="mb-4">
                <hr [attr.data-content]="'newMessages' | translate" class="hr-text">
              </div>
            </div>
          </div>
        }

        @for (m of newMessages; track m.id || $index) {
          <div #messages class="p-2" style="width: 850px;"
               [ngClass]="m.createdBy.email === currentCaregiver.email ? 'myMessages' : 'otherMessages'">

            <div style="margin-bottom: 10px;">
              {{ m.createdBy.name }} •
              {{ m.createdDate | date:'shortDate' }} •
              {{ m.createdDate | date:'shortTime' }}
            </div>

            <span [ngClass]="m.createdBy.email === currentCaregiver.email ? 'mySpanM' : 'otherSpanM'">
              {{ m.message }}
            </span>
          </div>
        }
      </div>
    }

    <form #messageForm="ngForm">
      <div class="d-flex justify-content-start" style="margin-top: 10px;">

        <div class="p-2 form-group" style="width: 675px;">
          <input type="text" 
                 class="form-control input-text-select" 
                 id="message" 
                 [(ngModel)]="messageToSend.message" 
                 name="message" 
                 #message="ngModel" 
                 required>
        </div>

        <div class="p-2">
          <button class="btn button button-action button-send" 
                  (click)="sendMessage()" 
                  [disabled]="!messageForm.valid">
            <i class="bi bi-arrow-up-circle color-white"></i> {{ 'send' | translate }}
          </button>
        </div>

      </div>
    </form>

  </div>
</div>