<div class="d-flex justify-content-start flex-wrap">

  <div class="p-2">
    <div class="d-flex justify-content-center align-self-center img-thumbnail image-square">
      <img [src]="img.image.imageURL" [alt]="img.image.description" class="image-inside">
    </div>
  </div>

  <div class="p-2 image-info">
    
    <strong>{{'createdBy' | translate}}</strong>
    <br>
    <i class="bi bi-person"></i>
    {{img.image.createdBy.name}}
    <br>
    <i class="bi bi-envelope-fill"></i>
    {{img.image.createdBy.email}}
    <br>

    <i class="bi bi-calendar-event"></i> 
    <strong> {{'createdOn' | translate}}</strong> {{img.image.createdDate | date:'longDate'}}
    <br>
    <i class="bi bi-calendar-event"></i> 
    <strong> {{'lastUpdateOn' | translate}}</strong> {{img.image.lastUpdatedDate | date:'longDate'}}

    <div class="div-separator-top-light-blue">
      <i class="bi bi-tag"></i>
      {{ translateLabels(img.image.category) }}
      <br>
      <i class="bi bi-card-text"></i>
      {{ img.image.description }}
    </div>

    <div class="div-separator-top-grey">

      @if (img.isFavorite) {
        <div>
          <i class="bi bi-star-fill text-icon-yellow"></i> {{'favorite' | translate}}
        </div>
      } @else {
        <div>
          <i class="bi bi-star text-icon-yellow"></i> {{'notFavorite' | translate}}
        </div>
      }

      @if (img.image.isPrivate) {
        <div>
          <i class="bi bi-lock-fill text-icon-yellow"></i> {{'private' | translate}}
        </div>
      } @else {
        <div>
          <i class="bi bi-unlock-fill text-icon-yellow"></i> {{'public' | translate}}
        </div>
      }

    </div>

  </div>
</div>

@if (caregiver.email === img.image.createdBy.email) {
  <div class="d-flex justify-content-start flex-wrap-reverse">

    <div class="p-2 half-width buttons-min-width">
      <button type="button" class="btn button button-action full-width" (click)="goToImageUpdate()">
        <i class="bi bi-pencil-fill color-white"></i>
        {{'edit' | translate}}
      </button>
    </div>

    <div class="p-2 half-width buttons-min-width">
      <button class="btn app-button button-destructive full-width" (click)="goToImageDelete()">
        <i class="bi bi-trash-fill color-white"></i>
        {{'delete' | translate}}
      </button>
    </div>

  </div>
}

<div class="d-flex justify-content-start flex-wrap-reverse">
  <div class="p-2 full-width buttons-min-width">
    <button class="btn app-button button-neutral full-width" (click)="goToImages()">
      <i class="bi bi-caret-left-fill color-white"></i>
      <span class="color-white">
        {{'images' | translate}} {{ (caregiver.type === 'Formal' ? 'beneficiary' : 'relative') | translate }}
      </span>
    </button>
  </div>
</div>