/**
 * @author André Santana - fc49451
 */

.text-icon-notification{
  color: #856404 !important;
}

.patients-header{
  background-color: #000052;
}

.patient-field-header{
  color: white;
}

.list-profile-image{
  width: 60px;
  height: 60px;
}

.new-message{
  color: #007bff;
}

.new-message:hover{
  color: #000052;
  cursor: pointer;
  text-decoration: underline;
}

/*Pagination*/
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: white !important;
  border: 1px solid #000052 !important;
  color: #000052 !important;
  padding-top: 10px;
  padding-left: 18px;
  height: 50px;
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: #004080 !important;
  border: 1px solid #000052 !important;
  color: white !important;
  z-index: 0 !important;
  padding-top: 10px;
  padding-left: 18px;
  height: 50px;
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ngb-pagination ::ng-deep .page-item.disabled {
  opacity: 0.5;
}