<p>caregiver-patients works!</p>
<!--@author André Santana - fc49451-->

<!--Home Page Container-->
<div class="d-flex justify-content-center flex-wrap caregiver-home-container">
  <div class="d-flex flex-column">

    <!--New Notifications-->
    <div *ngIf="hasNewNotifications" class="p-2" style="margin-bottom: -10px;">
      <div *ngIf="true" class="alert alert-warning alert-box" role="alert">
        <i class="bi bi-bell-fill text-icon-notification"></i>
        {{'newNotification' | translate}}
        <a class="new-message"
          routerLink="/caregiver/notifications"> 
          {{'checkNotifications' | translate}}</a>
      </div>
    </div>

    <!--Search Bar and Add Patient-->
    <div class="d-flex justify-content-start flex-wrap">

      <!--Add Patient Button-->
      <div class="p-2" style="min-width: 285px;">
        <button type="button" 
                class="btn button button-action full-width" 
                routerLink="/caregiver/persons/add">
          <i class="bi bi-person-plus color-white"></i>
          <span class="color-white"
                *ngIf="caregiver.type=='Formal'"> {{'addBeneficiary' | translate}}</span>
          <span class="color-white"
                *ngIf="caregiver.type=='Informal'"> {{'addRelative' | translate}}</span>
        </button>
      </div>

      <!--Search Bar-->
      <div class="p-2" style="width: 590px">
        <div class="input-group mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text input-icon-blue"
                style="height:50px">
              <i class="bi bi-search color-white"></i>
            </div>
          </div>
          <input *ngIf="caregiver.type=='Formal'" 
                type="text" class="form-control input-text-select"
                style="height:50px"
                placeholder="{{'searchBeneficiary' | translate}}..." 
                (keyup)="searchPatientByName($event)">
          <input *ngIf="caregiver.type=='Informal'" 
                type="text" class="form-control input-text-select" 
                style="height:50px"
                placeholder="{{'searchRelative' | translate}}..." 
                (keyup)="searchPatientByName($event)">
        </div>
      </div>

    </div>

    <!--No Patients-->
    <div class="p-2 page-message" 
        *ngIf="collectionSize == 0 && 
              pListCopy.length == 0">
      {{'stillHaveNo' | translate}}
      <span class="page-message"
              *ngIf="caregiver.type=='Formal'"> {{'beneficiaries' | translate}}.</span>
      <span class="page-message"
              *ngIf="caregiver.type=='Informal'"> {{'relatives' | translate}}.</span>
      <button class="btn btn-link full-width"
              style="font-size: 20pt"
              aria-expanded="true" 
              routerLink="/caregiver/persons/add">
        {{'startAddingNewM' | translate}}
      </button>
    </div>

    <!--No Search Results-->
    <div class="p-2 page-message" 
    *ngIf="collectionSize == 0 && 
          pListCopy.length != 0">
      {{'noSearchResults' | translate}}
    </div>

    <!--Patient List-->
    <div *ngIf="pList.length != 0 ">

      <div class="p-2" style="margin-top: -10px;">
          <div class="card" style="border:1px solid rgba(0, 0, 82, 0.4);">
              <div class="card-body d-flex justify-content-start flex-wrap patients-header">

                  <!--Patient Name-->
                  <div class="patient-field-header" style="padding-left: 20px;width: 280px;">
                      <span class="color-white"
                              *ngIf="caregiver.type=='Formal'"> {{'beneficiaries' | translate}}</span>
                      <span class="color-white"
                              *ngIf="caregiver.type=='Informal'"> {{'relatives' | translate}}</span>
                  </div>

                  <!--Last Session-->
                  <div class="patient-field-header" style="width: 280px;">
                      {{'lastSession' | translate}}
                  </div>

              </div>
          </div>
      </div>

      <!--Patients-->
      <div class="p-2" 
          *ngFor="let p of pList | slice: (page-1) * pageSize : page * pageSize">
          <div class="card" style="border:1px solid rgba(0, 0, 82, 0.4);">
              <div class="card-body d-flex justify-content-start flex-wrap">
                  
                  <!--Patient Image-->
                  <div class="p-2">
                      <img [src]="p.profileImageURL" 
                          alt="Foto de Perfil de 
                          {{convertPatientDisplayName(p.displayName, p.name)}}" 
                          class="rounded list-profile-image">
                  </div>

                  <!--Patient Name-->
                  <div class="p-2" style="font-weight: bold;width: 200px;margin-top: 10px;">
                      {{convertPatientDisplayName(p.displayName, p.name)}}
                  </div>

                  <!--Last Session-->
                  <div class="p-2" style="width: 180px;margin-top: 10px;">
                      {{p.lastSession | date:'shortDate'}}
                      <span *ngIf="(p.lastSession | date:'shortDate') == null">
                        {{'noSessionsYet' | translate}}
                      </span>
                  </div>

                  <!--View Profile-->
                  <div class="p-2" style="width: 170px;">
                      <button type="button" 
                              style="height: 60px !important;
                                     margin-left: 10px !important;"
                              class="btn button button-action full-width"
                          (click)="goToPatientProfile(p)">
                          {{'viewProfile' | translate}}
                      </button>
                  </div>

                  <!--Begin Therapy-->
                  <div class="p-2" style="width: 200px;">
                      <button type="button" 
                              style="height: 60px !important;
                                     margin-left: 10px !important;"
                              class="btn button button-action full-width"
                          (click)="goToRtSession(p)">
                          {{'beginTherapy' | translate}}
                      </button>
                  </div>

              </div>

              <!--New Messages-->
              <div *ngIf="p.chat.lastMessageReadDate < p.chat.lastMessageSentDate"
                   class="p-2" style="margin-top: -20px; margin-bottom: -10px">
                <div *ngIf="true" class="alert alert-warning alert-box" role="alert">
                  <i class="bi bi-chat-dots text-icon-notification"></i>
                  {{'newMessages' | translate}}!
                  <a (click)="goToPatientMessages(p)"
                    class="new-message"> 
                    {{'checkMessages' | translate}}
                  </a>
                </div>
              </div>
          </div>

      </div>

      <!--Pagination-->
      <div style="margin-top: 10px;"
          class="d-flex justify-content-center flex-wrap">
          <!-- <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [maxSize]="maxSize"
              [collectionSize]="collectionSize"
              [rotate]="true" 
              [ellipses]="true"
              >
              <ng-template ngbPaginationPrevious>
                  <i class="bi bi-caret-left"></i>{{'previous' | translate}}</ng-template>
              <ng-template ngbPaginationNext>{{'next' | translate}}<i class="bi bi-caret-right"></i></ng-template>
              <ng-template ngbPaginationEllipsis>...</ng-template>
          </ngb-pagination> -->
      </div>   

    </div>

  </div>
</div>
