<!-- <select
	class="form-select me-sm-2 input-text-select specility-select"
	style="width: 100px"
	[value]="currentLanguage"
	(change)="onLanguageChange($event)"
>
	<option *ngFor="let lang of languages" [value]="lang">
		{{ lang | uppercase }}
	</option>
</select> -->
<select
	class="form-select me-sm-2 input-text-select specility-select"
	style="width: 100px"
	[(ngModel)]="currentLanguage"
	(ngModelChange)="changeLanguage($event)"
>
	@for (lang of languages; track lang) {
		<option [value]="lang">
			{{ lang | uppercase }}
		</option>
	}
</select>